* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #aed2fe;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  height: 100vh;
}

.container {
  background-color: #fff;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  margin: 100px auto;
}

img {
  width: 200px;
  max-width: 100%;
  border-radius: 10px;
}

.subtext {
  font-weight: bold;
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  padding: 10px;
}

.description {
  font-size: 12px;
  color: #666;

  text-align: center;
  padding: 10px;
}
